<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>@ViewBag.Title</title>

    <!-- Bootstrap core CSS -->
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content")

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#">ImageWeb</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        @Html.ActionLink("ImageWeb", "Index", "ImageWeb", null, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item active">
                        @Html.ActionLink("Config", "Index", "Config", null, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Photos", "Index", "Photos", null, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Logs", "Index", "Logs", null, new { @class = "nav-link" })
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Page Content -->
    <div class="container">
        @RenderBody()
        
        <div class="row" style="margin-top:50px">
            <div class="col">
                Are you sure you want to close the handler:
            </div>
            <div class="col">
                @ViewBag.Handler
            </div>
        </div>

        <div class="text-center" style="margin-top:20px">
            <!--TODO: Add the removing-->
            <input type="button" value="OK" id="remove_handler_btn"/>
            <input type="button" value="Cancel" id="cancel"/>
        </div>

    </div>
    <!-- /.container -->
    <!-- Footer -->
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; N&O 2018</p>
        </div>
        <!-- /.container -->
    </footer>

    

    <!-- Bootstrap core JavaScript -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script type="text/javascript">
        $('#cancel').click(function () {
            document.location = '@Url.Action("Index", "Config")';
        });
        $('#remove_handler_btn').click(function () {
            $('#cancel').attr("disabled", true);
            $('#remove_handler_btn').attr("disabled", true);
            var apiUrl = "/RemoveHandler/RemoveHandler"
            var array = @Html.Raw(Json.Encode(ViewBag.SplittedHandler));
            var jsArr = [];
            for (var i = 0; i < array.length; i++) {
                jsArr[i] = array[i];
            }
            $.post(apiUrl, { splittedHandler: jsArr }, function () {
                    document.location = '@Url.Action("Index", "Config")';
                });
        });
    </script>

</body>

</html>