@model IEnumerable<string>

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>@ViewBag.Title</title>

    <!-- Bootstrap core CSS -->
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content")

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#">ImageWeb</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        @Html.ActionLink("ImageWeb", "Index", "ImageWeb", null, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item active">
                        @Html.ActionLink("Config", "Index", "Config", null, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Photos", "Index", "Photos", null, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Logs", "Index", "Logs", null, new { @class = "nav-link" })
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Page Content -->
    <div class="container">
        @RenderBody()
        
        <div class="row" style="margin-top:50px">
            <div class="col" style="color:blue;">
				<b>
                Output directory:
				</b>
            </div>
            <div class="col" style="color:blue;">
				<i>
                @ViewBag.OutputDir
				</i>
            </div>
        </div>
        <div class="row">
            <div class="col" style="color:#33cc33;">
				<b>
                Source name:
				</b>
            </div>
            <div class="col" style="color:#33cc33;">
				<i>
                @ViewBag.SourceName
				</i>
            </div>
        </div>
        <div class="row">
            <div class="col" style="color:yellow;">
				<b>
                Log name:
				</b>
            </div>
            <div class="col" style="color:yellow;">
				<i>
                @ViewBag.LogName
				</i>
            </div>
        </div>
        <div class="row">
            <div class="col" style="color:orange;">
				<b>
                Thumbnail size:
				</b>
            </div>
            <div class="col" style="color:orange;">
				<i>
                @ViewBag.ThumbSize
				</i>
            </div>
        </div>
        <div class="row">
            <div class="col" style="color:red;">
				<b>
                Handlers:
				</b>
            </div>
            <div class="col">
                @foreach (var item in Model)
                {
                    @Html.ActionLink(item, "Index", "RemoveHandler", new { handler = item}, null)
                    <hr />
                    <!--<a>@Html.DisplayFor(modelItem => item)</a>-->
                }
            </div>
        </div>

    </div>
    <!-- /.container -->
    <!-- Footer -->
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; N&O 2018</p>
        </div>
        <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>

</html>