<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>@ViewBag.Title</title>

    <!-- Bootstrap core CSS -->
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content")

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#">ImageWeb</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        @Html.ActionLink("ImageWeb", "Index", "ImageWeb", null, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item active">
                        @Html.ActionLink("Config", "Index", "Config", null, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Photos", "Index", "Photos", null, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Logs", "Index", "Logs", null, new { @class = "nav-link" })
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Page Content -->
    <div class="container">
        @RenderBody()
        
        <div class="row" style="margin-top:50px">
			<div class="col-lg-4 col-md-6 mb-4">
				<div class="card h-100">
					<a href="#"><img class="card-img-top" src=@ViewBag.ThumbnailPath alt=""></a>
					<div class="card-body">
						<h3 class="card-title">
							<a href="#">@ViewBag.Name</a>
						</h3>
					</div>
					<div>
						<h6 class="card-title" style="red">
							Are you sure you want to delete the picture?
						</h6>
						<button type="button" id="delete_pic_btn">
							OK
						</button>
						<button type="button" id="cancel_btn">
							Cancel
						</button>
					</div>
				</div>
			</div>
        </div>
    </div>
	<!-- /.container -->
    <!-- Footer -->
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; N&O 2018</p>
        </div>
        <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

	<script type="text/javascript">
		$('#delete_pic_btn').click(function() {
			$('#delete_pic_btn').attr("disabled", true);
			var apiUrl = "/DeletePhoto/DeletePhoto";
			$.post(apiUrl, { year:	'@ViewBag.Year',
							 month: '@ViewBag.Month',
							 name:	'@ViewBag.Name' },
				   function() {
				       document.location = '@Url.Action("Index", "Photos")';
				   });
		});
		$('#cancel_btn').click(function() {
			$('#cancel_btn').attr("disabled", true);
			document.location = '@Url.Action("Index", "Photos")';
		});
	</script>

</body>

</html>